@plugin "daisyui/theme" {
  name: "os_dark";
  default: false;
  prefersdark: true;
  color-scheme: dark;
  --color-ly0: hsl(0, 0%, 7%);
  --color-ly0-w: hsl(0, 0%, 7%);
  --color-ly0-a: hsl(240, 2%, 23%);
  --color-ly0-edge: hsl(274, 4%, 11%);
  --color-ly0-blur: hsl(0, 0%, 12%);
  --color-ly0-gl: hsl(230, 3%, 56%);
  --color-ly0-gl-a: hsl(230, 3%, 51%);
  --color-ly0-gl-pl: hsl(30, 1%, 99%);
  --color-ly0-gl-hl: hsl(210, 100%, 52%);
  --color-ly0-gl-hl-a: hsl(210, 91%, 21%);
  --color-ly0-gl-shade: hsl(240, 3%, 57%);
  --color-ly0-gl-label: hsl(240, 3%, 55%);
  --color-ly1: hsl(240, 4%, 11%);
  --color-ly1-a: hsl(240, 2%, 23%);
  --color-ly1-edge: hsl(240, 3%, 19%);
  --color-ly1-err: hsl(0, 0%, 0%);
  --color-ly1-focus: hsl(240, 4%, 20%);
  --color-ly1-gl: hsl(30, 100%, 100%);
  --color-ly1-gl-a: hsl(30, 1%, 90%);
  --color-ly1-gl-d: hsl(240, 1%, 82%);
  --color-ly1-gl-pl: hsl(30, 1%, 99%);
  --color-ly1-gl-hl: hsl(210, 100%, 52%);
  --color-ly1-gl-hl-a: hsl(210, 100%, 62%);
  --color-ly1-gl-shade: hsl(230, 4%, 61%);
  --color-ly1-gl-label: hsl(30, 1%, 99%);
  --color-ly2: hsl(240, 2%, 18%);
  --color-ly2-a: hsl(240, 3%, 15%);
  --color-ly2-edge: hsl(240, 2%, 23%);
  --color-ly2-gl: hsl(240, 3%, 73%);
  --color-ly2-gl-a: hsl(230, 4%, 51%);
  --color-ly2-gl-d: hsl(240, 3%, 63%);
  --color-ly2-gl-pl: hsl(240, 2%, 40%);
  --color-ly2-gl-hl: hsl(210, 100%, 52%);
  --color-ly2-gl-hl-a: hsl(210, 100%, 42%);
  --color-ly2-gl-shade: hsl(230, 4%, 61%);
}

@plugin "daisyui/theme" {
  name: "os_light";
  default: false;
  prefersdark: false;
  color-scheme: light;
  --color-ly0: hsl(240, 24%, 96%);
  --color-ly0-w: hsl(248, 17%, 98%);
  --color-ly0-a: hsl(240, 6%, 83%);
  --color-ly0-edge: hsl(0, 0%, 87%);
  --color-ly0-blur: hsl(179, 7%, 96%);
  --color-ly0-gl: hsl(240, 2%, 55%);
  --color-ly0-gl-a: hsl(240, 2%, 60%);
  --color-ly0-gl-pl: hsl(240, 2%, 78%);
  --color-ly0-gl-hl: hsl(219, 92%, 59%);
  --color-ly0-gl-hl-a: hsl(211, 100%, 40%);
  --color-ly0-gl-shade: hsl(230, 3%, 54%);
  --color-ly0-gl-label: hsl(240, 2%, 53%);
  --color-ly1: hsl(0, 0%, 100%);
  --color-ly1-a: hsl(240, 6%, 83%);
  --color-ly1-edge: hsl(274, 4%, 90%);
  --color-ly1-err: hsl(0, 0%, 0%);
  --color-ly1-focus: hsl(240, 15%, 94%);
  --color-ly1-gl: hsl(0, 0%, 10%);
  --color-ly1-gl-a: hsl(0, 0%, 10%);
  --color-ly1-gl-d: hsl(0, 0%, 20%);
  --color-ly1-gl-pl: hsl(240, 2%, 78%);
  --color-ly1-gl-hl: hsl(211, 100%, 50%);
  --color-ly1-gl-hl-a: hsl(211, 100%, 40%);
  --color-ly1-gl-shade: hsl(240, 2%, 55%);
  --color-ly1-gl-label: hsl(240, 2%, 53%);
  --color-ly2: hsl(240, 5%, 90%);
  --color-ly2-a: hsl(240, 5%, 95%);
  --color-ly2-edge: hsl(242, 2%, 88%);
  --color-ly2-gl: hsl(240, 2%, 55%);
  --color-ly2-gl-a: hsl(240, 2%, 45%);
  --color-ly2-gl-d: hsl(240, 2%, 65%);
  --color-ly2-gl-pl: hsl(240, 2%, 78%);
  --color-ly2-gl-hl: hsl(211, 100%, 50%);
  --color-ly2-gl-hl-a: hsl(211, 100%, 40%);
  --color-ly2-gl-shade: hsl(240, 2%, 55%);
}
